{% extends 'base.html' %}
{% block header %}
  <title>音乐盒</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="shortcut icon" href="/static/image/爱心.png" type="image/x-icon">
  <script src="/static/scripts/plyr.js"></script>
  <link rel="stylesheet" href="/static/css/plyr.css">
  <link rel="stylesheet" href="/static/css/musicPlyr.css">
  <link rel="stylesheet" href="/static/css/list.css">
{% endblock %}

{% block content %}
  <div class="music">
    <div class="search">
      <div class="search_box"><input id="search_box" type="text" placeholder="请输入歌曲/歌手" value=""></div>
      <div class="search_btn"><button id="search_btn" onclick="search_onclick()">搜索</button></div>
    </div>
    <div class="music_box" id="music_box">
      <div class="img">
        <img id="cover" width="88px"
          src="/static/image/音乐.png" />
      </div>
      <div class="song">
        <span id="songName">歌曲</span>
        <span>-</span>
        <span id="singerName">歌手</span>
      </div>
      <div class="lrc_box">
        <p id="lrc1" class="lrc">-------</p>
        <p id="lrc2" class="clear">音乐来源-酷我</p>
        <p id="lrc3" class="lrc">-------</p>
        <p id="lrc4" class="lrc">-------</p>
      </div>
      <audio controls id="music" autoplay>
        <source>
      </audio>
      <dialog id="dialog"></dialog>
    </div>
    <div class="searchORlist">
      <div class="btn_box">
        <button id="listBtn" onclick="listBtn_onclick()">播放列表</button>
        <button id="resultBtn" onclick="resultBtn_onclick()">搜索结果</button>
      </div>
      <div class="songList"><iframe class="iframe" id="iframe" src="songList"></iframe></div>
    </div>
  </div>
  <script src="/static/scripts/musicPlyr.js"></script>
{% endblock %}