{% extends 'base.html' %}
{% block header %}
    <title>大事记</title>
    <link rel="stylesheet" href="/static/css/timeline.css" type="text/css">
{% endblock %}
{% block content %}
    <div id="timer" class="timer">
		<div style="font-size: 50px; font-weight: bolder; color: white;">
            今天是我们走过的
        </div>
        <br>
        <div style="color: white;">
            第<span class="timer-count" id="year"></span>年
            第<span class="timer-count" id="day"></span>日
            <span class="timer-count" id="hour"></span>时
            <span class="timer-count" id="minute"></span>分
            <span class="timer-count" id="second"></span>秒
        </div>
	</div>
    <div class="timeline">
        <div class="timeline-block">
            {% for unit in timeline_content %}
            <div class="timeline-unit">
                <div class="content">
                    <div class="words">
                        {{ unit.content }}
                        <br><br>
                        <img src={{ unit.image }} onclick="zoomImage(this)">
                    </div>
                    <div class="datetime"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="/static/scripts/timer.js"></script>
{% endblock %}